/* Variables are defined in ./theme.js */

.groupingList,
.itemList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-color: var(--defaultIconColor);
  color: var(--defaultIconColor);
}

.grouping {
  font-family: var(--fontFamily);
  margin-top: var(--groupingTopMargin);
  border-color: var(--defaultIconColor);
}

.groupingHero {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: var(--heroLinkColor);
  font-size: var(--heroLinkFontSize);
  font-weight: var(--heroLinkFontWeight);
  letter-spacing: var(--heroLinkLetterSpacing);
  outline: none;
  padding: var(--heroLinkPadding);
  text-decoration: none;

  /* this can become min-height once we drop IE11 support */
  height: var(--groupingHeroMinHeight);

  .groupingName {
    text-decoration: var(--heroLinkTextDecoration);
  }

  &:focus,
  &:hover {
    text-decoration: none;

    .groupingName {
      text-decoration: var(--heroLinkTextDecorationHover);
    }
  }
}

.groupingOverlay {
  background-color: var(--defaultIconColor);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.groupingName {
  position: relative;
  z-index: 1;
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  padding: var(--heroLinkNamePadding);
  background-color: var(--heroLinkNameBackground);
  text-transform: var(--heroLinkNameTextTransform);
}

[data-media-medium] {
  .grouping {
    display: flex;
  }

  .groupingHero {
    flex: 0 0 var(--groupingHeroWidth);
    height: auto;
  }

  .groupingHero,
  .groupingOverlay {
    border-bottom-left-radius: var(--heroBorderRadius);
    border-top-left-radius: var(--heroBorderRadius);
  }

  .itemList {
    flex: 1;
    border-top: var(--borderTopWidthTabletUp) solid;
  }
}
