{
  "presets": ["stage-1", "react"],
  "env": {
    "ES": {
      "presets": [["env", {
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 10"],
        },
        "modules": false
        }]
      ]
    },
    "development": {
      "presets": [["env", {
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 10"]
        }
      }]]
    },
    "test": {
      "presets": [["env", {
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 10"]
        }
      }]]
    }
  }
}
