{
  "extends": ["react-app", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "rules": {
    "no-extra-semi": "error",
    "no-trailing-spaces": "error",
    "semi": "error",
    "semi-spacing": "error"
  }
}
