/* Variables are defined in ./theme.js */

.root {
  font-size: inherit;
  font-family: var(--fontFamily);
  position: relative;
  display: inline-block;
}

.count {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: calc(-0.5 * var(--badgeSize));
  right: calc(-0.5 * var(--badgeSize));
  z-index: 1;
  text-align: center;
  line-height: var(--badgeSize);
  min-width: var(--badgeSize);
  white-space: nowrap;
  padding: 0 var(--countPadding);
  border-radius: calc(var(--badgeSize) / 2);
  background-color: var(--countBackgroundColor);
  color: var(--countTextColor);
  font-size: var(--countFontSize);
}

.children {
  display: flex;
  align-items: center;
}
