.item {
  font-family: var(--fontFamily);
  box-sizing: border-box;
  padding: var(--paddingPhoneUp);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color);
}

.itemCompleted,
.itemIcon {
  box-sizing: border-box;
  margin-right: var(--iconCheckboxRightMarginPhoneUp);
}

.itemCompleted {
  width: 1.375rem;
}

.itemIcon {
  color: var(--defaultIconColor);
  font-size: var(--iconFontSize);

  > svg { /* stylelint-disable-line selector-no-type */
    display: block;
  }
}

.itemLayout {
  box-sizing: border-box;
  flex: 1;
}

.itemDetails {
  box-sizing: border-box;
  margin-bottom: var(--itemDetailsBottomMargin);
}

.itemType {
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: var(--itemTypeLetterSpacing);
  margin-bottom: var(--itemTypeBottomMargin);
}

.itemName {
  line-height: var(--itemNameLineHeight);
}

.itemSecondary {
  display: flex;
  align-items: center;
  flex: 0.5;
}

.itemMetrics {
  text-align: right;
  flex: 1;
}

.itemDue,
.itemScore {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  line-height: 1;
  white-space: nowrap;
}

@media screen and (--tabletMin) {
  .item {
    padding: var(--paddingTabletUp);
  }

  .itemLayout {
    display: flex;
    align-items: center;
  }

  .itemDetails {
    flex: 1;
    margin-bottom: 0;
  }
}

@media screen and (--wideMin) {
  .item {
    padding: var(--paddingWideUp);
  }

  .itemCompleted,
  .itemIcon {
    margin-right: var(--iconCheckboxRightMarginWideUp);
  }
}
