.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.message {
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  margin-left: var(--messageMargin);
  color: var(--color);
}
