.root {
  font-family: var(--fontFamily);
  color: var(--color);
  box-sizing: border-box;
  padding: var(--padding);
  border-bottom: var(--borderWidth) solid var(--borderColor);
}

.contentPrimary {
  margin-bottom: var(--bottomMarginPhoneUp);
  box-sizing: border-box;
  min-width: 1px;
}

.contentSecondary {
  box-sizing: border-box;
  min-width: 1px;
}

.button {
  user-select: none;
  touch-action: manipulation;
  box-sizing: border-box;
  font-family: var(--fontFamily);
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: var(--buttonPadding);
  cursor: pointer;
  outline: none;
  font-size: var(--buttonFontSize);
  color: var(--buttonColor);

  &:focus,
  &:hover {
    text-decoration: var(--buttonTextDecorationHover);
  }
}

.buttonCheckbox {
  box-sizing: border-box;
  width: 1.375rem;
  margin-right: var(--checkboxRightMarginPhoneUp);
  line-height: 1;
}

[data-media-medium] {
  &.root {
    padding: var(--paddingMedium);
    display: flex;
    align-items: center;
  }

  .contentPrimary {
    margin-bottom: 0;
    flex: 1;
  }

  .contentSecondary {
    margin-left: 1rem;
  }
}

[data-media-x-large] {
  &.root {
    padding: var(--paddingLarge);
  }

  .buttonCheckbox {
    margin-right: var(--checkboxRightMarginWideUp);
  }
}
